In [53]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv("/Users/dev/Personal/DS & AI Class Notes/Data Sets/Adaboost/creditcard.csv")

## Checking Balance of DF

In [55]:
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [56]:
df = df.sample(frac=1)

In [57]:
def checkz(df):
    return df[df == 0].value_counts()

In [58]:
for i in df.columns:
    print(checkz(df[i]))

0.0    2
Name: Time, dtype: int64
Series([], Name: V1, dtype: int64)
Series([], Name: V2, dtype: int64)
Series([], Name: V3, dtype: int64)
Series([], Name: V4, dtype: int64)
Series([], Name: V5, dtype: int64)
Series([], Name: V6, dtype: int64)
Series([], Name: V7, dtype: int64)
Series([], Name: V8, dtype: int64)
Series([], Name: V9, dtype: int64)
Series([], Name: V10, dtype: int64)
Series([], Name: V11, dtype: int64)
Series([], Name: V12, dtype: int64)
Series([], Name: V13, dtype: int64)
Series([], Name: V14, dtype: int64)
Series([], Name: V15, dtype: int64)
Series([], Name: V16, dtype: int64)
Series([], Name: V17, dtype: int64)
Series([], Name: V18, dtype: int64)
Series([], Name: V19, dtype: int64)
Series([], Name: V20, dtype: int64)
Series([], Name: V21, dtype: int64)
Series([], Name: V22, dtype: int64)
Series([], Name: V23, dtype: int64)
Series([], Name: V24, dtype: int64)
Series([], Name: V25, dtype: int64)
Series([], Name: V26, dtype: int64)
Series([], Name: V27, dtype: int64)
Series([], Name: V28, dtype: int64)
0.0    1825
Name: Amount, dtype: int64
0    284315
Name: Class, dtype: int64

In [59]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [60]:
clist = ['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount']

In [61]:
def zeroremove(df):
    m = round(df.mean(),2)
    df.replace(0,m,inplace = True)

In [62]:
for i in clist:
    zeroremove(df[i])

In [63]:
for i in df.columns:
    print(checkz(df[i]))

Series([], Name: Time, dtype: int64)
Series([], Name: V1, dtype: int64)
Series([], Name: V2, dtype: int64)
Series([], Name: V3, dtype: int64)
Series([], Name: V4, dtype: int64)
Series([], Name: V5, dtype: int64)
Series([], Name: V6, dtype: int64)
Series([], Name: V7, dtype: int64)
Series([], Name: V8, dtype: int64)
Series([], Name: V9, dtype: int64)
Series([], Name: V10, dtype: int64)
Series([], Name: V11, dtype: int64)
Series([], Name: V12, dtype: int64)
Series([], Name: V13, dtype: int64)
Series([], Name: V14, dtype: int64)
Series([], Name: V15, dtype: int64)
Series([], Name: V16, dtype: int64)
Series([], Name: V17, dtype: int64)
Series([], Name: V18, dtype: int64)
Series([], Name: V19, dtype: int64)
Series([], Name: V20, dtype: int64)
Series([], Name: V21, dtype: int64)
Series([], Name: V22, dtype: int64)
Series([], Name: V23, dtype: int64)
Series([], Name: V24, dtype: int64)
Series([], Name: V25, dtype: int64)
Series([], Name: V26, dtype: int64)
Series([], Name: V27, dtype: int64)
Series([], Name: V28, dtype: int64)
Series([], Name: Amount, dtype: int64)
0    284315
Name: Class, dtype: int64

In [64]:
def odiqr(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    low = q1 - (1.5 * iqr)
    high = q3 + (1.5 * iqr)
    m = df.mean()
    df = df.apply(lambda x : m if x < low else (m if x > high else x ) )
    return df

In [65]:
def odmsd(df):
    m = round(df.mean(),2)
    s = round(df.std(),2)
    low = round(m-(3*s),2)
    high = round(m+(3*s),2)
    ft1 = df[df<low]
    ft2 = df[df>high]
    df = df.map(lambda x : low if x < low else (high if x > high else x ))

In [66]:
for i in clist:
    print(f'{i} is {df[i].skew()}')

Time is -0.035555280585659904
V1 is -3.2806673027560413
V2 is -4.624865573285335
V3 is -2.24015544024042
V4 is 0.6762920979857465
V5 is -2.4259014959520546
V6 is 1.8265806649980851
V7 is 2.5539074174295133
V8 is -8.521944194777976
V9 is 0.5546797719063512
V10 is 1.1871405899625271
V11 is 0.35650585548882024
V12 is -2.2784009354106183
V13 is 0.06523345790658316
V14 is -1.9951758402683293
V15 is -0.30842298213592384
V16 is -1.1009662760510657
V17 is -3.844914473870621
V18 is -0.2598802680943063
V19 is 0.10919175998147106
V20 is -2.037155299081399
V21 is 3.592991193077847
V22 is -0.21325762284328817
V23 is -5.875140340106817
V24 is -0.552499301167305
V25 is -0.41579259031563526
V26 is 0.5766926172084218
V27 is -1.1702089424327127
V28 is 11.192091192212814
Amount is 16.991726060658795

In [67]:
for i in df.columns:
    if df[i].skew() >= 0.5:
        odmsd(df[i])
    else:
        df[i] = odiqr(df[i])

In [68]:
for i in clist:
    print(f'{i} is {df[i].skew()}')

Time is -0.035555280585659904
V1 is -0.4161161985304087
V2 is -0.07438377028745115
V3 is -0.28343989247536927
V4 is 0.6762920979857465
V5 is 0.16957915375938057
V6 is 1.8265806649980851
V7 is 2.5539074174295133
V8 is 0.4523229294236395
V9 is 0.5546797719063512
V10 is 1.1871405899625271
V11 is 0.07488578742568466
V12 is -0.31063725309318385
V13 is -0.007247631514974938
V14 is -0.028055340400578804
V15 is -0.199911583817233
V16 is -0.11877314436253476
V17 is 0.30644125389622356
V18 is 0.03512675179034511
V19 is -0.06096936812830072
V20 is 0.18375776727857
V21 is 3.592991193077847
V22 is 0.0005558802734464447
V23 is 0.012816923220893029
V24 is -0.4511153967813033
V25 is -0.09320714468855326
V26 is 0.5766926172084218
V27 is 0.3628061242154801
V28 is 11.192091192212814
Amount is 16.991726060658795

In [69]:
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
201535,133925.0,-0.532698,0.061942,0.539588,0.026725,1.341665,-0.772780,0.316415,-0.000083,-0.633072,...,-0.078126,-0.351809,1.161017e-01,-0.379144,-7.653777e-01,0.300085,1.147221e-01,0.185445,0.89,0
56394,47403.0,0.772197,-1.268315,0.414432,0.236163,-1.029296,0.261512,-0.365420,0.084106,1.338675,...,-0.147341,-0.787348,-2.692944e-01,-0.552362,1.521278e-01,0.979108,-8.887986e-02,0.048657,272.20,0
58180,48269.0,1.145246,-0.134345,0.556085,0.926994,-0.688657,-0.587888,-0.084333,-0.106054,0.631916,...,-0.064965,-0.038364,-1.230673e-01,0.458320,5.666350e-01,0.433819,-2.454648e-02,0.017889,47.99,0
259417,159105.0,-1.599972,-0.062006,-2.061615,-0.932018,-0.111652,-1.972131,0.676450,0.194297,0.207792,...,0.240038,0.506011,-6.041429e-01,0.164844,-4.465691e-01,0.785375,-3.701552e-16,-0.306508,104.61,0
256796,157865.0,-0.283381,0.865942,-0.304250,-0.477897,0.336655,-1.152088,0.698611,0.166241,-0.212692,...,-0.036336,-0.160843,1.910910e-01,-0.104403,-1.222097e+00,0.086214,7.205944e-02,0.169780,10.74,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222664,143072.0,-1.806836,-2.647502,0.368712,1.819831,1.662377,-0.764252,-1.697692,-0.490170,1.573567,...,-0.234302,1.087348,2.570198e-16,0.967634,5.301163e-16,0.695639,-2.803489e-01,-0.043333,100.00,0
51043,44764.0,-0.794725,0.001324,1.363956,-0.495473,0.453376,1.909162,0.194464,0.422105,0.014290,...,0.175166,0.837053,2.081477e-01,-1.303939,-1.092905e+00,1.076346,-2.013867e-01,-0.125788,75.96,0
104717,69202.0,0.957089,-0.269360,0.985397,1.689844,-0.792481,0.118937,-0.293932,0.143662,0.867402,...,-0.022379,0.135807,-9.139770e-02,0.434818,5.381971e-01,-0.285407,5.878651e-02,0.038085,80.00,0
245280,152679.0,-0.595664,0.801118,0.941026,-1.546981,1.503167,0.102437,1.327923,-0.176545,-0.518947,...,-0.381590,-1.008710,-5.456834e-01,-1.395039,6.874727e-01,0.274332,-2.331637e-01,-0.211158,1.29,0
52339,45396.0,1.080493,-0.488378,0.065247,0.150653,-0.943189,-0.914390,-0.294321,-0.285063,-1.038732,...,-0.162442,-0.160004,-1.857338e-01,0.353585,3.427649e-01,0.640960,8.500214e-04,0.078436,144.90,0

In [70]:
X = df.drop("Class",axis=1)

In [71]:
X.sample()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
204525,135320.0,-0.829237,-0.794164,0.886723,-3.127353,-0.270686,-0.433324,0.326638,-0.018152,-2.764001,...,-0.092774,0.200667,0.527354,-0.231145,0.734639,0.957478,0.061094,-0.063176,0.042389,117.65

In [72]:
y = df["Class"]

In [73]:
y.sample()

50896    0
Name: Class, dtype: int64

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold , cross_val_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier , AdaBoostClassifier

In [80]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=.30)

In [81]:
X.shape , Xtrain.shape , Xtest.shape

((284807, 30), (199364, 30), (85443, 30))

In [82]:
y.shape , ytrain.shape , ytest.shape

((284807,), (199364,), (85443,))

In [83]:
kf = KFold(n_splits=11)

In [87]:
dct = DecisionTreeClassifier()

In [88]:
algo = [ dct ]

### Without Feature Scaling

In [89]:
for i in algo:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

DecisionTreeClassifier() = 0.9988881476539916

### With Feature Scaling

In [90]:
ss = StandardScaler()

In [91]:
ss.fit(Xtrain)

StandardScaler()

In [92]:
Xtrain_ss = ss.transform(Xtrain)

In [93]:
Xtest_ss = ss.transform(Xtest)

In [94]:
for i in algo:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

DecisionTreeClassifier() = 0.9988413328183702

### With Cross Validation

In [95]:
for i in algo:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

DecisionTreeClassifier() = 0.998985279968197

## Boosting

In [97]:
rfc = RandomForestClassifier(n_estimators=150,max_depth=4,max_leaf_nodes=6)

In [99]:
abc = AdaBoostClassifier()

In [100]:
algo1 = [rfc  , abc ]

In [101]:
for i in algo1:
    print(i)

RandomForestClassifier(max_depth=4, max_leaf_nodes=6, n_estimators=150)
AdaBoostClassifier()

### Without Feature Scaling

In [103]:
for i in algo1:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=4, max_leaf_nodes=6, n_estimators=150) = 0.9986540734758845
AdaBoostClassifier() = 0.9990168884519505

### With Feature Scaling

In [104]:
for i in algo1:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=4, max_leaf_nodes=6, n_estimators=150) = 0.9986540734758845
AdaBoostClassifier() = 0.9990168884519505

###  With Cross Validation (Boosting)

In [105]:
%%time
for i in algo1:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

RandomForestClassifier(max_depth=4, max_leaf_nodes=6, n_estimators=150) = 0.9987640785753743
AdaBoostClassifier() = 0.9991151937506568
CPU times: user 15min 20s, sys: 4.24 s, total: 15min 25s
Wall time: 15min 27s

### With GridSearch CV

In [111]:
from sklearn.model_selection import GridSearchCV

In [116]:
dic = { 'criterion' : ['gini','entropy'] , 'splitter' : ["best", "random"] , 'max_depth' : [5,9,15,20] }

In [117]:
kf1 = KFold(n_splits=10)

In [118]:
gvc = GridSearchCV(DecisionTreeClassifier(),param_grid=dic,cv = kf1)

In [119]:
gvc.fit(X,y)

GridSearchCV(cv=KFold(n_splits=10, random_state=None, shuffle=False),
             estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 9, 15, 20],
                         'splitter': ['best', 'random']})

In [120]:
gvc.best_params_

{'criterion': 'entropy', 'max_depth': 5, 'splitter': 'best'}

In [121]:
gvc.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [122]:
gvc.best_score_

0.9992907477200452