In [172]:
import numpy as np
import pandas as pd

In [173]:
df = pd.read_csv("/Users/dev/Personal/DS & AI Class Notes/Data Sets/EL/heart.csv")

In [174]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### Func for Checking Zeros

In [5]:
def checkz(df):
    return df[df == 0].value_counts()

In [6]:
for i in df.columns:
    print(checkz(df[i]))

Series([], Name: age, dtype: int64)
0    312
Name: sex, dtype: int64
0    497
Name: cp, dtype: int64
Series([], Name: trestbps, dtype: int64)
Series([], Name: chol, dtype: int64)
0    872
Name: fbs, dtype: int64
0    497
Name: restecg, dtype: int64
Series([], Name: thalach, dtype: int64)
0    680
Name: exang, dtype: int64
0.0    329
Name: oldpeak, dtype: int64
0    74
Name: slope, dtype: int64
0    578
Name: ca, dtype: int64
0    7
Name: thal, dtype: int64
0    499
Name: target, dtype: int64

In [7]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [8]:
clist = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang', 'oldpeak', 'slope', 'ca', 'thal' ]

### Func for Removing Zeros

In [9]:
def zeroremove(df):
    m = round(df.mean(),2)
    df.replace(0,m,inplace = True)

In [10]:
for i in clist:
    zeroremove(df[i])

### Outcome is already having the  2 output (i.e 0 & 1 ) that's why...i didn't apply the func on target Col.

In [11]:
for i in df.columns:
    print(checkz(df[i]))

Series([], Name: age, dtype: int64)
Series([], Name: sex, dtype: int64)
Series([], Name: cp, dtype: int64)
Series([], Name: trestbps, dtype: int64)
Series([], Name: chol, dtype: int64)
Series([], Name: fbs, dtype: int64)
Series([], Name: restecg, dtype: int64)
Series([], Name: thalach, dtype: int64)
Series([], Name: exang, dtype: int64)
Series([], Name: oldpeak, dtype: int64)
Series([], Name: slope, dtype: int64)
Series([], Name: ca, dtype: int64)
Series([], Name: thal, dtype: int64)
0    499
Name: target, dtype: int64

## OD Tech

In [12]:
def odiqr(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    low = q1 - (1.5 * iqr)
    high = q3 + (1.5 * iqr)
    m = df.mean()
    df = df.apply(lambda x : m if x < low else (m if x > high else x ) )
    return df

In [13]:
def odmsd(df):
    m = round(df.mean(),2)
    s = round(df.std(),2)
    low = round(m-(3*s),2)
    high = round(m+(3*s),2)
    ft1 = df[df<low]
    ft2 = df[df>high]
    df = df.map(lambda x : low if x < low else (high if x > high else x ))

### Checking Skew of Each Columns

In [14]:
for i in df.columns:
    print(f'{i} is {df[i].skew()}')

age is -0.24886590174584555
sex is -0.8514488985126782
cp is 1.145578382862549
trestbps is 0.739768226050074
chol is 1.0740727783354815
fbs is 1.9713385276901945
restecg is 1.0833677759026794
thalach is -0.5137771771417209
exang is 0.6926551704693221
oldpeak is 1.653635327922581
slope is 0.07398850254344282
ca is 1.9745316034414788
thal is -0.2727031060122246
target is -0.05277848219047285

### Applying Func for Skew

In [15]:
for i in df.columns:
    if df[i].skew() <= 0.5:
        odmsd(df[i])
    else:
        df[i] = odiqr(df[i])

### After applying IQR on clist Columns the Skew is...

In [16]:
for i in df.columns:
    print(f'{i} is {df[i].skew()}')

age is -0.24886590174584555
sex is -0.8514488985126782
cp is 1.145578382862549
trestbps is 0.2562919840425967
chol is 0.19704648770201832
fbs is 1.9713385276901962
restecg is -0.0353538878826251
thalach is -0.5137771771417209
exang is 0.6926551704693221
oldpeak is 0.7971440066257179
slope is 0.07398850254344282
ca is 0.5690654674289185
thal is -0.2727031060122246
target is -0.05277848219047285

In [17]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1.0,0.94,125.0,212.0,0.150000,1.00,168,0.34,1.000000,2.00,1.177073,3.0,0
1,53,1.0,0.94,140.0,203.0,0.276878,0.53,155,1.00,1.414956,1.39,0.750000,3.0,0
2,70,1.0,0.94,145.0,174.0,0.150000,1.00,125,1.00,2.600000,1.39,0.750000,3.0,0
3,61,1.0,0.94,148.0,203.0,0.150000,1.00,161,0.34,1.070000,2.00,1.000000,3.0,0
4,62,0.7,0.94,138.0,294.0,0.276878,1.00,106,0.34,1.900000,1.00,1.177073,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1.0,1.00,140.0,221.0,0.150000,1.00,164,1.00,1.070000,2.00,0.750000,2.0,1
1021,60,1.0,0.94,125.0,258.0,0.150000,0.53,141,1.00,2.800000,1.00,1.000000,3.0,0
1022,47,1.0,0.94,110.0,275.0,0.150000,0.53,118,1.00,1.000000,1.00,1.000000,2.0,0
1023,50,0.7,0.94,110.0,254.0,0.150000,0.53,159,0.34,1.070000,2.00,0.750000,2.0,1
1024,54,1.0,0.94,120.0,188.0,0.150000,1.00,113,0.34,1.400000,1.00,1.000000,3.0,0

In [18]:
X = df.drop("target",axis=1)

In [19]:
X.sample()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
52,38,1.0,2.0,138.0,175.0,0.15,1.0,173,0.34,1.07,2.0,1.177073,2.0

In [20]:
y = df["target"]

In [21]:
y.sample()

796    1
Name: target, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold , cross_val_score
from sklearn.linear_model import LogisticRegression , LinearRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier

In [53]:
import warnings
warnings.filterwarnings("ignore")

In [121]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=.20)

In [122]:
X.shape , Xtrain.shape , Xtest.shape

((1025, 13), (820, 13), (205, 13))

In [123]:
y.shape , ytrain.shape , ytest.shape

((1025,), (820,), (205,))

In [124]:
kf = KFold(n_splits=11)

In [125]:
logreg = LogisticRegression(max_iter=1000)

In [126]:
linreg = LinearRegression()

In [127]:
sv = SVC()

In [128]:
dct = DecisionTreeClassifier()

In [129]:
knn = KNeighborsClassifier()

In [130]:
algo = [logreg , linreg , sv , dct , knn ]

### Without Feature Scaling

In [131]:
for i in algo:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

LogisticRegression(max_iter=1000) = 0.8341463414634146
LinearRegression() = 0.4178985513448299
SVC() = 0.6048780487804878
DecisionTreeClassifier() = 0.9609756097560975
KNeighborsClassifier() = 0.6634146341463415

### With Feature Scaling

In [132]:
ss = StandardScaler()

In [133]:
ss.fit(Xtrain)

StandardScaler()

In [134]:
Xtrain_ss = ss.transform(Xtrain)

In [135]:
Xtest_ss = ss.transform(Xtest)

In [136]:
for i in algo:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

LogisticRegression(max_iter=1000) = 0.8195121951219512
LinearRegression() = 0.4178985513448239
SVC() = 0.8536585365853658
DecisionTreeClassifier() = 0.9609756097560975
KNeighborsClassifier() = 0.8195121951219512

### With Cross Validation

In [137]:
for i in algo:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

LogisticRegression(max_iter=1000) = 0.8555770470664087
LinearRegression() = 0.5142110200404165
SVC() = 0.6995174809176183
DecisionTreeClassifier() = 0.997067448680352
KNeighborsClassifier() = 0.7668309727335122

## With Boosting

In [138]:
from sklearn.ensemble import RandomForestClassifier , BaggingClassifier , AdaBoostClassifier , GradientBoostingClassifier

In [139]:
rfc = RandomForestClassifier(n_estimators=150,max_depth=3,max_leaf_nodes=4)

In [140]:
baggc = BaggingClassifier(base_estimator=DecisionTreeClassifier())

In [141]:
adbst = AdaBoostClassifier()

In [142]:
gdbst = GradientBoostingClassifier()

In [143]:
algo1 = [rfc , baggc , adbst , gdbst]

In [144]:
for i in algo1:
    print(i)

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150)
BaggingClassifier(base_estimator=DecisionTreeClassifier())
AdaBoostClassifier()
GradientBoostingClassifier()

### Without Feature Scaling

In [145]:
for i in algo1:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150) = 0.7951219512195122
BaggingClassifier(base_estimator=DecisionTreeClassifier()) = 0.9609756097560975
AdaBoostClassifier() = 0.848780487804878
GradientBoostingClassifier() = 0.9512195121951219

### With Feature Scaling

In [146]:
for i in algo1:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150) = 0.8
BaggingClassifier(base_estimator=DecisionTreeClassifier()) = 0.9512195121951219
AdaBoostClassifier() = 0.848780487804878
GradientBoostingClassifier() = 0.9512195121951219

###  With Cross Validation (Boosting)

In [147]:
for i in algo1:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150) = 0.8633243900917201
BaggingClassifier(base_estimator=DecisionTreeClassifier()) = 0.9951124144672533
AdaBoostClassifier() = 0.885828081778665
GradientBoostingClassifier() = 0.9785570183648428

### With GridSearch CV

In [148]:
from sklearn.model_selection import GridSearchCV ,RandomizedSearchCV

In [149]:
dic = { 'criterion' : ['gini','entropy'] , 'splitter' : ["best", "random"] , 'max_depth' : [5,9,15,20,25] }

In [150]:
kf1 = KFold(n_splits=20)

### gvc Using without Feature Scaling

In [151]:
gvc = GridSearchCV(DecisionTreeClassifier(),param_grid=dic,cv = kf1)

In [152]:
gvc.fit(X,y)

GridSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
             estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 9, 15, 20, 25],
                         'splitter': ['best', 'random']})

In [153]:
gvc.best_params_

{'criterion': 'gini', 'max_depth': 15, 'splitter': 'random'}

In [154]:
gvc.best_estimator_

DecisionTreeClassifier(max_depth=15, splitter='random')

In [155]:
gvc.best_score_

1.0

### gvc Using with Feature Scaling

In [156]:
ss1 = StandardScaler()
X_ss1 = ss1.fit_transform(X)

In [157]:
gvc1 = GridSearchCV(DecisionTreeClassifier(),param_grid=dic,cv = kf1)

In [158]:
gvc1.fit(X_ss1,y)

GridSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
             estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 9, 15, 20, 25],
                         'splitter': ['best', 'random']})

In [159]:
gvc1.best_params_

{'criterion': 'gini', 'max_depth': 9, 'splitter': 'best'}

In [160]:
gvc1.best_estimator_

DecisionTreeClassifier(max_depth=9)

In [161]:
gvc1.best_score_

1.0

### With Random Search CV

In [162]:
rsc =  RandomizedSearchCV(DecisionTreeClassifier(),param_distributions=dic,cv = kf1)

### rsc Using without Feature Scaling

In [163]:
rsc.fit(X,y)

RandomizedSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
                   estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 9, 15, 20, 25],
                                        'splitter': ['best', 'random']})

In [164]:
rsc.best_params_

{'splitter': 'random', 'max_depth': 20, 'criterion': 'entropy'}

In [165]:
rsc.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=20, splitter='random')

In [166]:
rsc.best_score_

1.0

### rsc Using with Feature Scaling

In [167]:
rsc1 =  RandomizedSearchCV(DecisionTreeClassifier(),param_distributions=dic,cv = kf1)

In [168]:
rsc1.fit(X_ss1,y)

RandomizedSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
                   estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 9, 15, 20, 25],
                                        'splitter': ['best', 'random']})

In [169]:
rsc.best_params_

{'splitter': 'random', 'max_depth': 20, 'criterion': 'entropy'}

In [170]:
rsc.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=20, splitter='random')

In [171]:
rsc.best_score_

1.0