In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv("/Users/dev/Personal/DS & AI Class Notes/Data Sets/Logistic Regression/sonar.all-data.csv",header=None)

In [15]:
df = df.sample(frac=1)

In [16]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

### Func for Checking Zeros

In [17]:
def checkz(df):
    return df[df == 0].value_counts()

In [18]:
for i in df.columns:
    print(checkz(df[i]))

Series([], Name: 0, dtype: int64)
Series([], Name: 1, dtype: int64)
Series([], Name: 2, dtype: int64)
Series([], Name: 3, dtype: int64)
Series([], Name: 4, dtype: int64)
Series([], Name: 5, dtype: int64)
Series([], Name: 6, dtype: int64)
Series([], Name: 7, dtype: int64)
Series([], Name: 8, dtype: int64)
Series([], Name: 9, dtype: int64)
Series([], Name: 10, dtype: int64)
Series([], Name: 11, dtype: int64)
Series([], Name: 12, dtype: int64)
Series([], Name: 13, dtype: int64)
Series([], Name: 14, dtype: int64)
Series([], Name: 15, dtype: int64)
Series([], Name: 16, dtype: int64)
Series([], Name: 17, dtype: int64)
Series([], Name: 18, dtype: int64)
Series([], Name: 19, dtype: int64)
Series([], Name: 20, dtype: int64)
Series([], Name: 21, dtype: int64)
Series([], Name: 22, dtype: int64)
Series([], Name: 23, dtype: int64)
Series([], Name: 24, dtype: int64)
Series([], Name: 25, dtype: int64)
Series([], Name: 26, dtype: int64)
Series([], Name: 27, dtype: int64)
Series([], Name: 28, dtype: int64)
Series([], Name: 29, dtype: int64)
Series([], Name: 30, dtype: int64)
Series([], Name: 31, dtype: int64)
Series([], Name: 32, dtype: int64)
Series([], Name: 33, dtype: int64)
Series([], Name: 34, dtype: int64)
Series([], Name: 35, dtype: int64)
Series([], Name: 36, dtype: int64)
Series([], Name: 37, dtype: int64)
Series([], Name: 38, dtype: int64)
Series([], Name: 39, dtype: int64)
Series([], Name: 40, dtype: int64)
Series([], Name: 41, dtype: int64)
0.0    1
Name: 42, dtype: int64
0.0    1
Name: 43, dtype: int64
0.0    1
Name: 44, dtype: int64
0.0    1
Name: 45, dtype: int64
0.0    1
Name: 46, dtype: int64
0.0    1
Name: 47, dtype: int64
0.0    1
Name: 48, dtype: int64
0.0    1
Name: 49, dtype: int64
0.0    1
Name: 50, dtype: int64
Series([], Name: 51, dtype: int64)
Series([], Name: 52, dtype: int64)
Series([], Name: 53, dtype: int64)
Series([], Name: 54, dtype: int64)
Series([], Name: 55, dtype: int64)
Series([], Name: 56, dtype: int64)
Series([], Name: 57, dtype: int64)
Series([], Name: 58, dtype: int64)
Series([], Name: 59, dtype: int64)
Series([], Name: 60, dtype: int64)

In [19]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
           dtype='int64')

In [29]:
clist = df.columns[0:60:1]

In [34]:
clist

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59],
           dtype='int64')

### Func for Removing Zeros

In [35]:
def zeroremove(df):
    m = round(df.mean(),2)
    df.replace(0,m,inplace = True)

In [36]:
for i in clist:
    zeroremove(df[i])

In [37]:
for i in df.columns:
    print(checkz(df[i]))

Series([], Name: 0, dtype: int64)
Series([], Name: 1, dtype: int64)
Series([], Name: 2, dtype: int64)
Series([], Name: 3, dtype: int64)
Series([], Name: 4, dtype: int64)
Series([], Name: 5, dtype: int64)
Series([], Name: 6, dtype: int64)
Series([], Name: 7, dtype: int64)
Series([], Name: 8, dtype: int64)
Series([], Name: 9, dtype: int64)
Series([], Name: 10, dtype: int64)
Series([], Name: 11, dtype: int64)
Series([], Name: 12, dtype: int64)
Series([], Name: 13, dtype: int64)
Series([], Name: 14, dtype: int64)
Series([], Name: 15, dtype: int64)
Series([], Name: 16, dtype: int64)
Series([], Name: 17, dtype: int64)
Series([], Name: 18, dtype: int64)
Series([], Name: 19, dtype: int64)
Series([], Name: 20, dtype: int64)
Series([], Name: 21, dtype: int64)
Series([], Name: 22, dtype: int64)
Series([], Name: 23, dtype: int64)
Series([], Name: 24, dtype: int64)
Series([], Name: 25, dtype: int64)
Series([], Name: 26, dtype: int64)
Series([], Name: 27, dtype: int64)
Series([], Name: 28, dtype: int64)
Series([], Name: 29, dtype: int64)
Series([], Name: 30, dtype: int64)
Series([], Name: 31, dtype: int64)
Series([], Name: 32, dtype: int64)
Series([], Name: 33, dtype: int64)
Series([], Name: 34, dtype: int64)
Series([], Name: 35, dtype: int64)
Series([], Name: 36, dtype: int64)
Series([], Name: 37, dtype: int64)
Series([], Name: 38, dtype: int64)
Series([], Name: 39, dtype: int64)
Series([], Name: 40, dtype: int64)
Series([], Name: 41, dtype: int64)
Series([], Name: 42, dtype: int64)
Series([], Name: 43, dtype: int64)
Series([], Name: 44, dtype: int64)
Series([], Name: 45, dtype: int64)
Series([], Name: 46, dtype: int64)
Series([], Name: 47, dtype: int64)
Series([], Name: 48, dtype: int64)
Series([], Name: 49, dtype: int64)
Series([], Name: 50, dtype: int64)
Series([], Name: 51, dtype: int64)
Series([], Name: 52, dtype: int64)
Series([], Name: 53, dtype: int64)
Series([], Name: 54, dtype: int64)
Series([], Name: 55, dtype: int64)
Series([], Name: 56, dtype: int64)
Series([], Name: 57, dtype: int64)
Series([], Name: 58, dtype: int64)
Series([], Name: 59, dtype: int64)
Series([], Name: 60, dtype: int64)

## OD Tech

In [39]:
def odiqr(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    low = q1 - (1.5 * iqr)
    high = q3 + (1.5 * iqr)
    m = df.mean()
    df = df.apply(lambda x : m if x < low else (m if x > high else x ) )
    return df

In [40]:
def odmsd(df):
    m = round(df.mean(),2)
    s = round(df.std(),2)
    low = round(m-(3*s),2)
    high = round(m+(3*s),2)
    ft1 = df[df<low]
    ft2 = df[df>high]
    df = df.map(lambda x : low if x < low else (high if x > high else x ))

### Checking Skew of Each Columns

In [42]:
for i in clist:
    print(f'{i} is {df[i].skew()}')

0 is 2.131088403617926
1 is 2.1556436669002843
2 is 2.6525178027721217
3 is 3.4016974370591413
4 is 2.0181405084483592
5 is 1.2481657456456876
6 is 0.9708203074544365
7 is 1.481106640375855
8 is 1.6338699131287824
9 is 1.28125841540716
10 is 0.9878128779952564
11 is 0.5886807806025769
12 is 0.7365842949556033
13 is 1.022369168524951
14 is 0.7639643127441456
15 is 0.6946708068184217
16 is 0.6544799912965883
17 is 0.5258451140663585
18 is 0.28318234842918133
19 is -0.085331383601653
20 is -0.2527412170134086
21 is -0.39228941499361286
22 is -0.5943498637949107
23 is -0.6918610071124024
24 is -0.7889086971703941
25 is -0.6715801459985963
26 is -0.6278429273258318
27 is -0.6154465982408338
28 is -0.442006952429742
29 is -0.13238978896414627
30 is 0.2597970958332025
31 is 0.31341978888919503
32 is 0.42386370967659365
33 is 0.5632955277781282
34 is 0.5916537771446705
35 is 0.6198678663567871
36 is 0.676994060446236
37 is 1.0333664958915112
38 is 0.908835142088458
39 is 0.8612796836557962
40 is 0.8635260724515679
41 is 0.8601098037577956
42 is 0.9320122182379786
43 is 1.256142307785485
44 is 1.3754319263992822
45 is 1.715748690602886
46 is 1.8099306907999282
47 is 1.292398444500869
48 is 1.2875050810664357
49 is 1.7858668405260794
50 is 2.7374494223183405
51 is 2.093975741472327
52 is 1.0605722830139797
53 is 1.093089971731159
54 is 1.7899458592155897
55 is 1.7808045605717202
56 is 1.653090496345695
57 is 2.0983296811699987
58 is 1.737505621365086
59 is 2.7757544828751475

### Applying Func for Skew

In [43]:
for i in clist:
    if df[i].skew() <= 0.5:
        odmsd(df[i])
    else:
        df[i] = odiqr(df[i])

### After applying IQR on clist Columns the Skew is...

In [45]:
for i in clist:
    print(f'{i} is {df[i].skew()}')

0 is 0.8127144584689736
1 is 0.7891496869954777
2 is 0.8246232000444756
3 is 0.823731802050785
4 is 0.7829704945137077
5 is 0.47691354895633203
6 is 0.43772719034632784
7 is 0.4836735531515572
8 is 0.6301391669982177
9 is 0.6010276012281704
10 is 0.5956316441300802
11 is 0.4441066622448995
12 is 0.5058381056868104
13 is 0.5211971526900219
14 is 0.6394912764735239
15 is 0.6946708068184217
16 is 0.6544799912965883
17 is 0.5258451140663585
18 is 0.28318234842918133
19 is -0.085331383601653
20 is -0.2527412170134086
21 is -0.39228941499361286
22 is -0.5943498637949107
23 is -0.6918610071124024
24 is -0.7889086971703941
25 is -0.6715801459985963
26 is -0.6278429273258318
27 is -0.6154465982408338
28 is -0.442006952429742
29 is -0.13238978896414627
30 is 0.2597970958332025
31 is 0.31341978888919503
32 is 0.42386370967659365
33 is 0.5632955277781282
34 is 0.5916537771446705
35 is 0.6198678663567871
36 is 0.676994060446236
37 is 0.7863273839881887
38 is 0.6076962736484544
39 is 0.4798987755399655
40 is 0.6418355756974223
41 is 0.6283497334980148
42 is 0.4959403425237674
43 is 0.9370516614638617
44 is 1.009573054073471
45 is 0.7887045995494688
46 is 0.7276938240977444
47 is 0.6626094312062608
48 is 0.78236078965115
49 is 0.5582686811080156
50 is 0.5678314462957561
51 is 0.6277024459103614
52 is 0.7035260287168787
53 is 0.7895837750439221
54 is 0.7832088895721504
55 is 0.713035087055552
56 is 0.9508094446803266
57 is 0.8619817288574543
58 is 0.910689145996865
59 is 0.8177273456808426

In [46]:
df

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
75,0.0202,0.010400,0.0325,0.0239,0.080700,0.1529,0.1154,0.0608,0.1317,0.1370,...,0.01270,0.008100,0.0067,0.00430,0.006500,0.00490,0.005400,0.007300,0.0054,R
110,0.0210,0.012100,0.0203,0.1036,0.167500,0.0418,0.0723,0.0828,0.0494,0.0686,...,0.01170,0.010100,0.0061,0.00310,0.009900,0.00800,0.010700,0.016100,0.0133,M
0,0.0200,0.037100,0.0428,0.0207,0.095400,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.00270,0.006500,0.0159,0.00720,0.016700,0.01800,0.008400,0.009000,0.0032,R
60,0.0130,0.000600,0.0088,0.0456,0.052500,0.0778,0.0931,0.0941,0.1711,0.1483,...,0.00780,0.004100,0.0013,0.00110,0.004500,0.00390,0.002200,0.002300,0.0016,R
204,0.0323,0.010100,0.0298,0.0564,0.076000,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.00610,0.009300,0.0135,0.00630,0.006300,0.00340,0.003200,0.006200,0.0067,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,0.0352,0.011600,0.0191,0.0469,0.073700,0.1185,0.1683,0.1541,0.1466,0.2912,...,0.01342,0.015800,0.0154,0.01090,0.004800,0.00950,0.001500,0.007300,0.0067,R
140,0.0412,0.038437,0.0518,0.0232,0.064600,0.1124,0.1787,0.2407,0.2682,0.2058,...,0.01342,0.014300,0.0272,0.01270,0.016600,0.00950,0.007949,0.009800,0.0085,M
5,0.0286,0.045300,0.0277,0.0174,0.038400,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.00450,0.001400,0.0038,0.00130,0.008900,0.00570,0.002700,0.005100,0.0062,R
147,0.0654,0.064900,0.0737,0.1132,0.075202,0.1257,0.1797,0.0989,0.2460,0.3422,...,0.02100,0.010709,0.0239,0.00929,0.008222,0.00782,0.007949,0.007941,0.0098,M
94,0.0025,0.030900,0.0171,0.0228,0.043400,0.1224,0.1947,0.1661,0.1368,0.1430,...,0.01490,0.007700,0.0036,0.01140,0.008500,0.01010,0.001600,0.002800,0.0014,R

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le = LabelEncoder()

In [51]:
le.classes_

array(['M', 'R'], dtype=object)

In [56]:
df = pd.concat([df,pd.DataFrame(le.fit_transform(df[60]),columns=["TARGET"])],axis=1).drop(60,axis=1)

In [57]:
df

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,TARGET
0,0.020000,0.0371,0.0428,0.0207,0.0954,0.09860,0.1539,0.160100,0.310900,0.211100,...,0.0027,0.0065,0.0159,0.0072,0.016700,0.01800,0.0084,0.0090,0.0032,1
1,0.045300,0.0523,0.0843,0.0689,0.1183,0.10457,0.2156,0.134799,0.333700,0.287200,...,0.0084,0.0089,0.0048,0.0094,0.019100,0.01400,0.0049,0.0052,0.0044,0
2,0.026200,0.0582,0.1099,0.1083,0.0974,0.22800,0.2431,0.134799,0.178003,0.208259,...,0.0232,0.0166,0.0095,0.0180,0.008222,0.00782,0.0164,0.0095,0.0078,1
3,0.010000,0.0171,0.0623,0.0205,0.0205,0.03680,0.1098,0.127600,0.059800,0.126400,...,0.0121,0.0036,0.0150,0.0085,0.007300,0.00500,0.0044,0.0040,0.0117,1
4,0.029164,0.0666,0.0481,0.0394,0.0590,0.06490,0.1209,0.246700,0.356400,0.445900,...,0.0031,0.0054,0.0105,0.0110,0.001500,0.00720,0.0048,0.0107,0.0094,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0.018700,0.0346,0.0168,0.0177,0.0393,0.16300,0.2028,0.169400,0.232800,0.268400,...,0.0116,0.0098,0.0199,0.0033,0.010100,0.00650,0.0115,0.0193,0.0157,1
204,0.032300,0.0101,0.0298,0.0564,0.0760,0.09580,0.0990,0.101800,0.103000,0.215400,...,0.0061,0.0093,0.0135,0.0063,0.006300,0.00340,0.0032,0.0062,0.0067,0
205,0.052200,0.0437,0.0180,0.0292,0.0351,0.11710,0.1257,0.117800,0.125800,0.252900,...,0.0160,0.0029,0.0051,0.0062,0.008900,0.01400,0.0138,0.0077,0.0031,1
206,0.030300,0.0353,0.0490,0.0608,0.0167,0.13540,0.1465,0.112300,0.194500,0.235400,...,0.0086,0.0046,0.0126,0.0036,0.003500,0.00340,0.0079,0.0036,0.0048,0
207,0.026000,0.0363,0.0136,0.0272,0.0214,0.03380,0.0655,0.140000,0.184300,0.235400,...,0.0146,0.0129,0.0047,0.0039,0.006100,0.00400,0.0036,0.0061,0.0115,1

In [58]:
X = df.drop("TARGET",axis=1)

In [59]:
X.sample()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
194,0.0392,0.0108,0.0267,0.0257,0.041,0.0491,0.1053,0.169,0.2105,0.2471,...,0.0089,0.0083,0.008,0.0026,0.0079,0.0042,0.0071,0.0044,0.0022,0.0014

In [60]:
y = df["TARGET"]

In [61]:
y.sample()

104    0
Name: TARGET, dtype: int64

In [163]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold , cross_val_score
from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier

In [164]:
import warnings
warnings.filterwarnings("ignore")

In [165]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=.20)

In [166]:
X.shape , Xtrain.shape , Xtest.shape

((208, 60), (166, 60), (42, 60))

In [167]:
y.shape , ytrain.shape , ytest.shape

((208,), (166,), (42,))

In [168]:
kf = KFold(n_splits=11)

In [169]:
logreg = LogisticRegression(max_iter=1000)

In [170]:
sv = SVC()

In [171]:
dct = DecisionTreeClassifier()

In [172]:
knn = KNeighborsClassifier()

In [173]:
algo = [logreg  , sv , dct , knn ]

### Without Feature Scaling

In [174]:
for i in algo:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

LogisticRegression(max_iter=1000) = 0.5952380952380952
SVC() = 0.5952380952380952
DecisionTreeClassifier() = 0.5476190476190477
KNeighborsClassifier() = 0.5952380952380952

### With Feature Scaling

In [175]:
ss = StandardScaler()

In [176]:
ss.fit(Xtrain)

StandardScaler()

In [177]:
Xtrain_ss = ss.transform(Xtrain)

In [178]:
Xtest_ss = ss.transform(Xtest)

In [179]:
for i in algo:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

LogisticRegression(max_iter=1000) = 0.5238095238095238
SVC() = 0.6190476190476191
DecisionTreeClassifier() = 0.5
KNeighborsClassifier() = 0.6428571428571429

### With Cross Validation

In [180]:
for i in algo:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

LogisticRegression(max_iter=1000) = 0.49548112706007436
SVC() = 0.4715576820839979
DecisionTreeClassifier() = 0.547846889952153
KNeighborsClassifier() = 0.5047846889952152

## With Boosting

In [181]:
from sklearn.ensemble import RandomForestClassifier , BaggingClassifier , AdaBoostClassifier , GradientBoostingClassifier

In [182]:
rfc = RandomForestClassifier(n_estimators=150,max_depth=3,max_leaf_nodes=4)

In [183]:
baggc = BaggingClassifier(base_estimator=DecisionTreeClassifier())

In [184]:
adbst = AdaBoostClassifier()

In [185]:
gdbst = GradientBoostingClassifier()

In [186]:
algo1 = [rfc , baggc , adbst , gdbst]

In [187]:
for i in algo1:
    print(i)

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150)
BaggingClassifier(base_estimator=DecisionTreeClassifier())
AdaBoostClassifier()
GradientBoostingClassifier()

### Without Feature Scaling

In [188]:
for i in algo1:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150) = 0.6904761904761905
BaggingClassifier(base_estimator=DecisionTreeClassifier()) = 0.5714285714285714
AdaBoostClassifier() = 0.5714285714285714
GradientBoostingClassifier() = 0.5238095238095238

### With Feature Scaling

In [189]:
for i in algo1:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150) = 0.6428571428571429
BaggingClassifier(base_estimator=DecisionTreeClassifier()) = 0.5238095238095238
AdaBoostClassifier() = 0.5714285714285714
GradientBoostingClassifier() = 0.5238095238095238

###  With Cross Validation (Boosting)

In [190]:
for i in algo1:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

RandomForestClassifier(max_depth=3, max_leaf_nodes=4, n_estimators=150) = 0.5576820839978734
BaggingClassifier(base_estimator=DecisionTreeClassifier()) = 0.5481127060074429
AdaBoostClassifier() = 0.5287081339712918
GradientBoostingClassifier() = 0.538809144072302

### With GridSearch CV

In [191]:
from sklearn.model_selection import GridSearchCV ,RandomizedSearchCV

In [192]:
dic = { 'criterion' : ['gini','entropy'] , 'splitter' : ["best", "random"] , 'max_depth' : [5,9,15,20,25] }

In [193]:
kf1 = KFold(n_splits=20)

### gvc Using without Feature Scaling

In [194]:
gvc = GridSearchCV(DecisionTreeClassifier(),param_grid=dic,cv = kf1)

In [195]:
gvc.fit(X,y)

GridSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
             estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 9, 15, 20, 25],
                         'splitter': ['best', 'random']})

In [196]:
gvc.best_params_

{'criterion': 'entropy', 'max_depth': 15, 'splitter': 'best'}

In [197]:
gvc.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=15)

In [198]:
gvc.best_score_

0.5513636363636363

### gvc Using with Feature Scaling

In [199]:
ss1 = StandardScaler()
X_ss1 = ss1.fit_transform(X)

In [200]:
gvc1 = GridSearchCV(DecisionTreeClassifier(),param_grid=dic,cv = kf1)

In [201]:
gvc1.fit(X_ss1,y)

GridSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
             estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 9, 15, 20, 25],
                         'splitter': ['best', 'random']})

In [202]:
gvc1.best_params_

{'criterion': 'entropy', 'max_depth': 9, 'splitter': 'best'}

In [203]:
gvc1.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=9)

In [204]:
gvc1.best_score_

0.5645454545454545

### With Random Search CV

In [205]:
rsc =  RandomizedSearchCV(DecisionTreeClassifier(),param_distributions=dic,cv = kf1)

### rsc Using without Feature Scaling

In [206]:
rsc.fit(X,y)

RandomizedSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
                   estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 9, 15, 20, 25],
                                        'splitter': ['best', 'random']})

In [207]:
rsc.best_params_

{'splitter': 'random', 'max_depth': 9, 'criterion': 'gini'}

In [208]:
rsc.best_estimator_

DecisionTreeClassifier(max_depth=9, splitter='random')

In [209]:
rsc.best_score_

0.5977272727272728

### rsc Using with Feature Scaling

In [210]:
rsc1 =  RandomizedSearchCV(DecisionTreeClassifier(),param_distributions=dic,cv = kf1)

In [211]:
rsc1.fit(X_ss1,y)

RandomizedSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
                   estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 9, 15, 20, 25],
                                        'splitter': ['best', 'random']})

In [212]:
rsc.best_params_

{'splitter': 'random', 'max_depth': 9, 'criterion': 'gini'}

In [213]:
rsc.best_estimator_

DecisionTreeClassifier(max_depth=9, splitter='random')

In [214]:
rsc.best_score_

0.5977272727272728