In [626]:
import numpy as np
import pandas as pd

In [627]:
df = pd.read_csv("/Users/dev/Personal/DS & AI Class Notes/Data Sets/DCT/weatherAUS.csv")

In [628]:
df["Date"] = pd.to_datetime(df["Date"])

In [629]:
df.set_index(df["Date"],inplace=True)

In [630]:
df.drop("Date",axis=1,inplace=True)

In [631]:
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

### Checking Nan's

In [632]:
df.isna().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

### Removing Nan's

In [633]:
def od(df):
    m = round(df.mean(),2)
    df.replace(np.nan,m,inplace = True)

In [634]:
df.columns

Index(['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [635]:
df.sample()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2015-02-07,Ballarat,22.0,32.7,0.0,NaN,NaN,WNW,59.0,N,N,...,34.0,27.0,1020.6,1018.6,4.0,8.0,25.6,30.2,No,Yes

In [636]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145460 entries, 2008-12-01 to 2017-06-25
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        143975 non-null  float64
 2   MaxTemp        144199 non-null  float64
 3   Rainfall       142199 non-null  float64
 4   Evaporation    82670 non-null   float64
 5   Sunshine       75625 non-null   float64
 6   WindGustDir    135134 non-null  object
 7   WindGustSpeed  135197 non-null  float64
 8   WindDir9am     134894 non-null  object
 9   WindDir3pm     141232 non-null  object
 10  WindSpeed9am   143693 non-null  float64
 11  WindSpeed3pm   142398 non-null  float64
 12  Humidity9am    142806 non-null  float64
 13  Humidity3pm    140953 non-null  float64
 14  Pressure9am    130395 non-null  float64
 15  Pressure3pm    130432 non-null  float64
 16  Cloud9am       89572 non-null   float64
 17  Cloud3pm       86102 non-null   float64
 18  Temp9am        143693 non-null  float64
 19  Temp3pm        141851 non-null  float64
 20  RainToday      142199 non-null  object
 21  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(6)
memory usage: 25.5+ MB

### Auto Removing of 0's from Numerical Datas

In [637]:
clist = ["MinTemp","MaxTemp","Rainfall","Evaporation","Sunshine","WindGustSpeed","WindSpeed9am","WindSpeed3pm"
         ,"Humidity9am","Humidity3pm","Pressure9am","Pressure3pm","Cloud9am","Cloud3pm","Temp9am","Temp3pm" ]

In [638]:
for i in clist:
    od(df[i])

### After Removing of 0's from Numerical Datas

In [639]:
df.isna().sum()

Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RainTomorrow      3267
dtype: int64

## Removing of nan's from Categorical Datas ( With Interpolate)

In [640]:
df["WindGustDir"] =  df["WindGustDir"].interpolate(method="pad")

In [641]:
df["WindDir9am"] =  df["WindDir9am"].interpolate(method="pad")

In [642]:
df["WindDir3pm"] =  df["WindDir3pm"].interpolate(method="pad")

In [643]:
df["RainToday"] =  df["RainToday"].interpolate(method="pad")

In [644]:
df["RainTomorrow"] =  df["RainTomorrow"].interpolate(method="pad")

In [645]:
df.isna().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

### Checking Skew of Each Columns

In [646]:
for i in clist:
    print(f'{i} is {df[i].skew()}')

MinTemp is 0.02131668288588057
MaxTemp is 0.2218077777772173
Rainfall is 9.948376312498736
Evaporation is 4.988473495798053
Sunshine is -0.6879306055234033
WindGustSpeed is 0.9074005020137117
WindSpeed9am is 0.782410166240686
WindSpeed3pm is 0.6349528939310922
Humidity9am is -0.4884429827030895
Humidity3pm is 0.03414352617422361
Pressure9am is -0.10089360028649969
Pressure3pm is -0.04836910879679871
Cloud9am is -0.29321798655838643
Cloud3pm is -0.29428548023865364
Temp9am is 0.08908628030461271
Temp3pm is 0.24100524169041943

### OD(IQR)

In [647]:
def odiqr(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    low = q1 - (1.5 * iqr)
    high = q3 + (1.5 * iqr)
    m = df.mean()
    df = df.apply(lambda x : m if x < low else (m if x > high else x ) )
    return df

In [648]:
for i in clist:
     df[i] = odiqr(df[i])

### After applying IQR on clist Columns the Skew is...

In [649]:
for i in clist:
    print(f'{i} is {df[i].skew()}')

MinTemp is 0.028554836518195313
MaxTemp is 0.27154199433131365
Rainfall is 1.1913840875782122
Evaporation is -1.2260809287622771
Sunshine is 1.975340731403225
WindGustSpeed is 0.22004609685351145
WindSpeed9am is 0.4091280079102845
WindSpeed3pm is 0.2585533370921871
Humidity9am is -0.3513762805753124
Humidity3pm is 0.03414352617422361
Pressure9am is 0.04522361839927128
Pressure3pm is 0.05508478448848004
Cloud9am is -0.29321798655838643
Cloud3pm is -0.179686879525271
Temp9am is 0.10742995174037855
Temp3pm is 0.27392492643629074

In [650]:
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.4,22.90,0.6,5.47,7.61,W,44.00,W,WNW,...,71.0,22.0,1007.7,1007.1,8.00,4.51,16.9,21.8,No,No
2008-12-02,Albury,7.4,25.10,0.0,5.47,7.61,WNW,44.00,NNW,WSW,...,44.0,25.0,1010.6,1007.8,4.45,4.51,17.2,24.3,No,No
2008-12-03,Albury,12.9,25.70,0.0,5.47,7.61,WSW,46.00,W,WSW,...,38.0,30.0,1007.6,1008.7,4.45,2.00,21.0,23.2,No,No
2008-12-04,Albury,9.2,28.00,0.0,5.47,7.61,NE,24.00,SE,E,...,45.0,16.0,1017.6,1012.8,4.45,4.51,18.1,26.5,No,No
2008-12-05,Albury,17.5,32.30,1.0,5.47,7.61,W,41.00,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.00,8.00,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-21,Uluru,2.8,23.40,0.0,5.47,7.61,E,31.00,SE,ENE,...,51.0,24.0,1024.6,1020.3,4.45,4.51,10.1,22.4,No,No
2017-06-22,Uluru,3.6,25.30,0.0,5.47,7.61,NNW,22.00,SE,N,...,56.0,21.0,1023.5,1019.1,4.45,4.51,10.9,24.5,No,No
2017-06-23,Uluru,5.4,26.90,0.0,5.47,7.61,N,37.00,SE,WNW,...,53.0,24.0,1021.0,1016.8,4.45,4.51,12.5,26.1,No,No
2017-06-24,Uluru,7.8,27.00,0.0,5.47,7.61,SE,28.00,SSE,N,...,51.0,24.0,1019.4,1016.5,3.00,2.00,15.1,26.0,No,No
2017-06-25,Uluru,14.9,23.22,0.0,5.47,7.61,SE,40.04,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.00,8.00,15.0,20.9,No,No

In [651]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145460 entries, 2008-12-01 to 2017-06-25
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        145460 non-null  float64
 2   MaxTemp        145460 non-null  float64
 3   Rainfall       145460 non-null  float64
 4   Evaporation    145460 non-null  float64
 5   Sunshine       145460 non-null  float64
 6   WindGustDir    145460 non-null  object
 7   WindGustSpeed  145460 non-null  float64
 8   WindDir9am     145460 non-null  object
 9   WindDir3pm     145460 non-null  object
 10  WindSpeed9am   145460 non-null  float64
 11  WindSpeed3pm   145460 non-null  float64
 12  Humidity9am    145460 non-null  float64
 13  Humidity3pm    145460 non-null  float64
 14  Pressure9am    145460 non-null  float64
 15  Pressure3pm    145460 non-null  float64
 16  Cloud9am       145460 non-null  float64
 17  Cloud3pm       145460 non-null  float64
 18  Temp9am        145460 non-null  float64
 19  Temp3pm        145460 non-null  float64
 20  RainToday      145460 non-null  object
 21  RainTomorrow   145460 non-null  object
dtypes: float64(16), object(6)
memory usage: 25.5+ MB

In [655]:
df = df.reset_index()

In [656]:
df.drop("index",axis=1,inplace=True)

In [657]:
df.drop(["Location","WindGustDir","WindDir9am","WindDir3pm"],axis=1,inplace=True) ## These columns generating too much col.

## Encoding

In [658]:
from sklearn.preprocessing import OneHotEncoder , LabelEncoder , OrdinalEncoder

In [659]:
ohe = OneHotEncoder(drop="first")

In [660]:
dfyes = pd.DataFrame(ohe.fit_transform(df[["RainToday"]]).toarray(),columns=["RainToday_Yes"],dtype=int)

In [661]:
df = pd.concat([df,dfyes],axis=1)

In [662]:
df.drop("RainToday",axis=1,inplace=True)

In [663]:
le = LabelEncoder()

In [664]:
dfraintomorr= pd.DataFrame(le.fit_transform(df["RainTomorrow"]),columns=["RainTomorrow_Yes"],dtype=int)

In [665]:
df = pd.concat([df,dfraintomorr],axis=1)

In [666]:
df.drop("RainTomorrow",axis=1,inplace=True)

### Splitting

In [667]:
X = df.drop(["RainTomorrow_Yes","Date"],axis=1) ## dropping "RainTomorrow_Yes" bcz...dct is not taking this

In [668]:
X

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday_Yes
0,13.4,22.90,0.6,5.47,7.61,44.00,20.0,24.0,71.0,22.0,1007.7,1007.1,8.00,4.51,16.9,21.8,0
1,7.4,25.10,0.0,5.47,7.61,44.00,4.0,22.0,44.0,25.0,1010.6,1007.8,4.45,4.51,17.2,24.3,0
2,12.9,25.70,0.0,5.47,7.61,46.00,19.0,26.0,38.0,30.0,1007.6,1008.7,4.45,2.00,21.0,23.2,0
3,9.2,28.00,0.0,5.47,7.61,24.00,11.0,9.0,45.0,16.0,1017.6,1012.8,4.45,4.51,18.1,26.5,0
4,17.5,32.30,1.0,5.47,7.61,41.00,7.0,20.0,82.0,33.0,1010.8,1006.0,7.00,8.00,17.8,29.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.40,0.0,5.47,7.61,31.00,13.0,11.0,51.0,24.0,1024.6,1020.3,4.45,4.51,10.1,22.4,0
145456,3.6,25.30,0.0,5.47,7.61,22.00,13.0,9.0,56.0,21.0,1023.5,1019.1,4.45,4.51,10.9,24.5,0
145457,5.4,26.90,0.0,5.47,7.61,37.00,9.0,9.0,53.0,24.0,1021.0,1016.8,4.45,4.51,12.5,26.1,0
145458,7.8,27.00,0.0,5.47,7.61,28.00,13.0,7.0,51.0,24.0,1019.4,1016.5,3.00,2.00,15.1,26.0,0
145459,14.9,23.22,0.0,5.47,7.61,40.04,17.0,17.0,62.0,36.0,1020.2,1017.9,8.00,8.00,15.0,20.9,0

In [669]:
y = df["RainTomorrow_Yes"]

In [670]:
y

0         0
1         0
2         0
3         0
4         0
         ..
145455    0
145456    0
145457    0
145458    0
145459    0
Name: RainTomorrow_Yes, Length: 145460, dtype: int64

In [671]:
y.sample()

123990    0
Name: RainTomorrow_Yes, dtype: int64

### Before Feature Scaling

In [672]:
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [673]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=.20)

In [674]:
kf = KFold(n_splits=6)

In [675]:
dtgini = DecisionTreeClassifier()

In [676]:
dtentro = DecisionTreeClassifier(criterion="entropy")

In [677]:
dtgini.fit(Xtrain,ytrain)

DecisionTreeClassifier()

In [678]:
dtentro.fit(Xtrain,ytrain)

DecisionTreeClassifier(criterion='entropy')

In [679]:
dtgini.score(Xtest,ytest)

0.778873917228104

In [680]:
dtentro.score(Xtest,ytest)

0.7808332187542967

In [681]:
scoregini = cross_val_score(dtgini,X,y,cv=kf)

In [682]:
scoregini.mean()

0.7666644734905331

In [683]:
scoreentro = cross_val_score(dtentro,X,y,cv=kf)

In [684]:
scoreentro.mean()

0.7721436349893042

### After Feature Scaling

In [685]:
from sklearn.preprocessing import StandardScaler

In [686]:
ss = StandardScaler()

In [687]:
ss.fit(Xtrain)

StandardScaler()

In [688]:
Xtrain_ss = ss.transform(Xtrain)

In [689]:
Xtest_ss = ss.transform(Xtest)

In [690]:
dtgini1 = DecisionTreeClassifier()

In [691]:
dtentro1 = DecisionTreeClassifier(criterion="entropy")

In [692]:
dtgini1.fit(Xtrain_ss,ytrain)

DecisionTreeClassifier()

In [693]:
dtentro1.fit(Xtrain_ss,ytrain)

DecisionTreeClassifier(criterion='entropy')

In [694]:
dtgini1.score(Xtest_ss,ytest)

0.7797332600027499

In [695]:
dtentro1.score(Xtest_ss,ytest)

0.7794926440258491

In [696]:
scoregini1 = cross_val_score(dtgini1,X,y,cv=kf)

In [697]:
scoregini1.mean()

0.7659151262126672

In [698]:
scoreentro1 = cross_val_score(dtentro1,X,y,cv=kf)

In [699]:
scoreentro1.mean()

0.7722948618309697

## Random Forest

In [700]:
from sklearn.ensemble import RandomForestClassifier

In [701]:
rfcgini =  RandomForestClassifier(n_estimators=200,criterion="gini")

In [702]:
rfcgini.fit(Xtrain,ytrain)

RandomForestClassifier(n_estimators=200)

In [703]:
rfcgini.score(Xtest,ytest)

0.8495806407259727

In [704]:
rfcgini.fit(Xtrain_ss,ytrain)

RandomForestClassifier(n_estimators=200)

In [705]:
rfcgini.score(Xtest_ss,ytest)

0.849099408772171

In [706]:
rfcentro =  RandomForestClassifier(n_estimators=50,criterion="entropy")

In [707]:
rfcentro.fit(Xtrain,ytrain)

RandomForestClassifier(criterion='entropy', n_estimators=50)

In [708]:
rfcentro.score(Xtest,ytest)

0.8462807644713323

In [709]:
rfcentro.fit(Xtrain_ss,ytrain)

RandomForestClassifier(criterion='entropy', n_estimators=50)

In [710]:
rfcentro.score(Xtest_ss,ytest)

0.8470026124020349