In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/Users/dev/Personal/DS & AI Class Notes/Data Sets/EL/heart.csv")

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### Func for Checking Zeros

In [5]:
def checkz(df):
    return df[df == 0].value_counts()

In [6]:
for i in df.columns:
    print(checkz(df[i]))

Series([], Name: age, dtype: int64)
0    312
Name: sex, dtype: int64
0    497
Name: cp, dtype: int64
Series([], Name: trestbps, dtype: int64)
Series([], Name: chol, dtype: int64)
0    872
Name: fbs, dtype: int64
0    497
Name: restecg, dtype: int64
Series([], Name: thalach, dtype: int64)
0    680
Name: exang, dtype: int64
0.0    329
Name: oldpeak, dtype: int64
0    74
Name: slope, dtype: int64
0    578
Name: ca, dtype: int64
0    7
Name: thal, dtype: int64
0    499
Name: target, dtype: int64

In [7]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [8]:
clist = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang', 'oldpeak', 'slope', 'ca', 'thal' ]

## OD Tech

In [9]:
def odiqr(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    low = q1 - (1.5 * iqr)
    high = q3 + (1.5 * iqr)
    m = df.mean()
    df = df.apply(lambda x : m if x < low else (m if x > high else x ) )
    return df

In [10]:
def odmsd(df):
    m = round(df.mean(),2)
    s = round(df.std(),2)
    low = round(m-(3*s),2)
    high = round(m+(3*s),2)
    ft1 = df[df<low]
    ft2 = df[df>high]
    df = df.map(lambda x : low if x < low else (high if x > high else x ))

### Checking Skew of Each Columns

In [11]:
for i in df.columns:
    print(f'{i} is {df[i].skew()}')

age is -0.24886590174584555
sex is -0.8514488985126767
cp is 0.5294552058584099
trestbps is 0.739768226050074
chol is 1.0740727783354815
fbs is 1.9713385276901942
restecg is 0.18044041112923528
thalach is -0.5137771771417209
exang is 0.692655170469321
oldpeak is 1.2108993882065326
slope is -0.4791344197425813
ca is 1.2611886429097716
thal is -0.5243897710407986
target is -0.05277848219047285

### Applying Func for Skew

In [16]:
for i in df.columns:
    if df[i].skew() <= 0.5:
        odmsd(df[i])
    else:
        df[i] = odiqr(df[i])

### After applying IQR on clist Columns the Skew is...

In [17]:
for i in df.columns:
    print(f'{i} is {df[i].skew()}')

age is -0.24886590174584555
sex is -0.8514488985126767
cp is 0.5294552058584099
trestbps is 0.2562919840425967
chol is 0.19704648770201832
fbs is 1.9713385276901936
restecg is 0.18044041112923528
thalach is -0.42724057034472956
exang is 0.692655170469321
oldpeak is 0.9274968232282808
slope is -0.4791344197425813
ca is 0.9573577318429962
thal is -0.2728398859022152
target is -0.05277848219047285

In [18]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212.0,0.000000,1,168.0,0,1.0,2,2.000000,3.0,0
1,53,1,0,140.0,203.0,0.022281,0,155.0,1,3.1,0,0.000000,3.0,0
2,70,1,0,145.0,174.0,0.000000,1,125.0,1,2.6,0,0.000000,3.0,0
3,61,1,0,148.0,203.0,0.000000,1,161.0,0,0.0,2,1.000000,3.0,0
4,62,0,0,138.0,294.0,0.022281,1,106.0,0,1.9,1,0.754146,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221.0,0.000000,1,164.0,1,0.0,2,0.000000,2.0,1
1021,60,1,0,125.0,258.0,0.000000,0,141.0,1,2.8,1,1.000000,3.0,0
1022,47,1,0,110.0,275.0,0.000000,0,118.0,1,1.0,1,1.000000,2.0,0
1023,50,0,0,110.0,254.0,0.000000,0,159.0,0,0.0,2,0.000000,2.0,1
1024,54,1,0,120.0,188.0,0.000000,1,113.0,0,1.4,1,1.000000,3.0,0

In [19]:
X = df.drop("target",axis=1)

In [20]:
X.sample()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
765,57,1,0,110.0,335.0,0.0,1,143.0,1,3.0,1,1.0,3.0

In [21]:
y = df["target"]

In [22]:
y.sample()

694    0
Name: target, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold , cross_val_score
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [24]:
import warnings
warnings.filterwarnings("ignore")

In [25]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=.20)

In [26]:
X.shape , Xtrain.shape , Xtest.shape

((1025, 13), (820, 13), (205, 13))

In [27]:
y.shape , ytrain.shape , ytest.shape

((1025,), (820,), (205,))

In [28]:
kf = KFold(n_splits=11)

In [38]:
rfc = RandomForestClassifier(n_estimators=150,max_depth=2,max_leaf_nodes=3)

In [39]:
algo = [rfc ]

### Without Feature Scaling

In [40]:
for i in algo:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=150) = 0.8731707317073171

### With Feature Scaling

In [41]:
ss = StandardScaler()

In [42]:
ss.fit(Xtrain)

StandardScaler()

In [43]:
Xtrain_ss = ss.transform(Xtrain)

In [44]:
Xtest_ss = ss.transform(Xtest)

In [45]:
for i in algo:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=150) = 0.848780487804878

### With Cross Validation

In [46]:
for i in algo:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=150) = 0.8516669786402115

## With Boosting

In [47]:
rfc1 = RandomForestClassifier(n_estimators=150,max_depth=2,max_leaf_nodes=3)

In [48]:
xg = XGBClassifier(use_label_encoder=False)

In [49]:
algo1 = [rfc , xg]

In [50]:
for i in algo1:
    print(i)

RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=150)
XGBClassifier(base_score=None, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None,
              enable_categorical=False, gamma=None, gpu_id=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_delta_step=None, max_depth=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, reg_alpha=None,
              reg_lambda=None, scale_pos_weight=None, subsample=None,
              tree_method=None, use_label_encoder=False,
              validate_parameters=None, verbosity=None)

### Without Feature Scaling

In [51]:
for i in algo1:
    i.fit(Xtrain,ytrain)
    s = i.score(Xtest,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=150) = 0.848780487804878
[16:47:28] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None) = 1.0

### With Feature Scaling

In [52]:
for i in algo1:
    i.fit(Xtrain_ss,ytrain)
    s = i.score(Xtest_ss,ytest)
    print(f'{i} = {s}')

RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=150) = 0.8634146341463415
[16:47:33] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None) = 1.0

###  With Cross Validation (Boosting)

In [ ]:
for i in algo1:
    s = cross_val_score(i,X,y,cv = kf)
    print(f'{i} = {s.mean()}')

RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=150) = 0.848744826438718
[16:47:52] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:47:53] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:47:54] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:47:57] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:47:59] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:48:01] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:48:04] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:48:05] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:48:07] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[16:48:09] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

### rsc Using without Feature Scaling

In [163]:
rsc.fit(X,y)

RandomizedSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
                   estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 9, 15, 20, 25],
                                        'splitter': ['best', 'random']})

In [164]:
rsc.best_params_

{'splitter': 'random', 'max_depth': 20, 'criterion': 'entropy'}

In [165]:
rsc.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=20, splitter='random')

In [166]:
rsc.best_score_

1.0

### rsc Using with Feature Scaling

In [167]:
rsc1 =  RandomizedSearchCV(DecisionTreeClassifier(),param_distributions=dic,cv = kf1)

In [168]:
rsc1.fit(X_ss1,y)

RandomizedSearchCV(cv=KFold(n_splits=20, random_state=None, shuffle=False),
                   estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 9, 15, 20, 25],
                                        'splitter': ['best', 'random']})

In [169]:
rsc.best_params_

{'splitter': 'random', 'max_depth': 20, 'criterion': 'entropy'}

In [170]:
rsc.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=20, splitter='random')

In [171]:
rsc.best_score_

1.0